<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Announcements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Announcements</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="announcements-container ion-padding">
    <div class="empty-state">
      <ion-icon name="megaphone-outline" class="empty-icon"></ion-icon>
      <h2>Announcements</h2>
      <p>Class announcements will appear here.</p>
    </div>
  </div>
</ion-content>
